<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Protein analiser</title>
</head>
<body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'general_analise/style.css' %}">
<h1>Protein Analiser</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div class="main-menu">
    <div class="horizontal-menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/loads">Loads</a></li>
            <li><a href="/analise">Analise</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a class="active" href="#">About</a></li>
        </ul>
    </div>
</div>
<div  class="container">
    <h2>Idea of Protein Analiser </h2>
    <a>Protein Analiser was created to tidy all my scripts to analise and allow other people to use them. It will be
        contributed with my science work. </a>
    <h2>Actual features</h2>
    <a>Gui of Protein Analiser allow to load data in fasta format separated to clusters with certain headers. Headers of
        clusters can be specify in loading data</a>
    <a>Actual features allows group data in:</a>
    <ol>
        <li>Species</li>
        <li>Kingdoms</li>
        <li>Proteins</li>

    </ol>
    <h3>Species</h3>
    <a>Proteins in clusters can be separated into species. Species names comes from selected in loading dataset to use
        database. </a>
    <h3>Kingdoms</h3>
    <a>Proteins in clusters can be separated into kingdoms. Kingdoms names comes from selected in loading dataset to use
        database. </a>
    <h3>Proteins</h3>
    <a>Regions in clusters can be also separated into proteins. Protein id comes from headers of loaded sequences. </a>
    <h2>Future features</h2>
    <a>In the futher work, there will be also analysed all sequences. There will be also added analysis of conserved
        aminoacids. </a>
</div>
</body>
</html>