<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Protein analiser</title>
</head>
<body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'general_analise/style.css' %}">
<h1>Protein Analiser</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div class="main-menu">
    <div class="horizontal-menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a class="active" href="/loads">Loads</a></li>
            <li><a href="/analise">Analise</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>
    <br>
</div>
<div class="container">

    <h5>List of all loads in database: </h5>
    <ol>
        {% for load, data_load in load_list.items %}
            <li>Load number: {{ load }} <a href={{ data_load.url }}>View load</a>
                <br>
                Load time: {{ data_load.time }}
                <br>
                Size: {{ data_load.region_size }} regions in {{ data_load.prot_size }}
            </li>
        {% endfor %}
    </ol>
</div>
</body>
</html>